#balloonContainer{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

margin-top:35px;

}

.balloon{

font-size:70px;

cursor:pointer;

transition:.3s;

user-select:none;

animation:float 2s ease-in-out infinite;

}

.balloon:hover{

transform:scale(1.2);

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0);

}

}

#counter{

margin-top:30px;

min-height:40px;

}

@media(max-width:768px){

.balloon{

font-size:55px;

}

}