.gift-grid{

display:grid;

grid-template-columns:repeat(2,150px);

gap:30px;

justify-content:center;

margin-top:40px;

}

.gift{

font-size:80px;

cursor:pointer;

transition:.3s;

user-select:none;

}

.gift:hover{

transform:

scale(1.2)

rotate(-10deg);

}

#result{

margin-top:35px;

min-height:60px;

font-size:28px;

}

@media(max-width:768px){

.gift-grid{

grid-template-columns:repeat(2,120px);

gap:20px;

}

.gift{

font-size:65px;

}

}