.emoji{

font-size:70px;

margin-bottom:15px;

animation:floatEmoji 3s ease-in-out infinite;

}

@keyframes floatEmoji{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

#typing{

min-height:70px;

font-size:24px;

margin-top:10px;

margin-bottom:30px;

color:white;

}

input{

margin-top:15px;

margin-bottom:20px;

font-size:20px;

text-align:center;

transition:.4s;

}

input:focus{

transform:scale(1.03);

box-shadow:

0 0 20px

rgba(255,255,255,.7);

}

button{

width:100%;

font-size:22px;

}

.bottom-text{

margin-top:30px;

font-size:18px;

opacity:.9;

font-style:italic;

}